/* Light theme */
:root {
    --default-background-color: : var(--white);
    --default-text-color: var(--dark-gray-1);
    --default-link-hover-color: var(--gold-4);
    --header-background-color: var(--sepia-1);
    --sidebar-background-color: var(--sepia-4);
}

/* Dark theme */
html[data-theme="dark"] {
    --default-background-color: var(--sepia-1);
    --default-text-color: var(--light-gray-5);
    --default-link-hover-color: var(--gold-4);
    --header-background-color: var(--sepia-3);
    --sidebar-background-color: var(--sepia-5);
}