/* Colors
   The variables defined in this class can be used to define theme colors
   but should not be directly used outside of theme definitions
   Borrowed from BlueprintJS https://blueprintjs.com/docs/#core/colors */


/* Gray Scale -------------------------------------------------------------
    
    Black, white and everything in between. The gray scale should be used for the
    main UI frame: containers, headers, sections, boxes, etc. If you need to call
    attention to a particular element (buttons, icons, tooltips, etc.), use one of
    the core colors. */

$black: #10161A;
$white: #FFFFFF;

$dark-gray-1: #182026;
$dark-gray-2: #202B33;
$dark-gray-3: #293742;
$dark-gray-4: #30404D;
$dark-gray-5: #394B59;

$gray-1: #5C7080;
$gray-2: #738694;
$gray-3: #8A9BA8;
$gray-4: #A7B6C2;
$gray-5: #BFCCD6;

$light-gray-1: #CED9E0;
$light-gray-2: #D8E1E8;
$light-gray-3: #E1E8ED;
$light-gray-4: #EBF1F5;
$light-gray-5: #F5F8FA;

/* Core colors ------------------------------------------------------------

Core colors are reserved for user interface design. Use these to help call
attention to specific UI elements, such as buttons, callouts, icons, etc. Each
core color is mapped to what we call a visual intent. We use intents to convey
the status of UI elements: */

/* Blue (intent: primary) elevates elements from the typical gray scale UI frame */
$blue-1: #0E5A8A;
$blue-2: #106BA3;
$blue-3: #137CBD;
$blue-4: #2B95D6;
$blue-5: #48AFF0;

/* Green (intent: success) indicates successful operations */
$green-1: #0A6640;
$green-2: #0D8050;
$green-3: #0F9960;
$green-4: #15B371;
$green-5: #3DCC91;

/* Orange (intent: warning) indicates warnings and intermediate states */
$orange-1: #A66321;
$orange-2: #BF7326;
$orange-3: #D9822B;
$orange-4: #F29D49;
$orange-5: #FFB366;

/* Red (intent: danger) indicates errors and potentially destructive operations */
$red-1: #A82A2A;
$red-2: #C23030;
$red-3: #DB3737;
$red-4: #F55656;
$red-5: #FF7373;

/* Extended colors --------------------------------------------------------

Extended colors should typically be reserved for data visualizations: any time
you need to represent data of some sort, you can use these. These colors are less
strict on WCAG 2.0 accessibility standards and should therefore not be used for
typical user interface design — take a look at core colors instead. */

$vermulion-1: #9E2B0E;
$vermulion-2: #B83211;
$vermulion-3: #D13913;
$vermulion-4: #EB532D;
$vermulion-5: #FF6E4A;

$rose-1: #A82255;
$rose-2: #C22762;
$rose-3: #DB2C6F;
$rose-4: #F5498B;
$rose-5: #FF66A1;

$violet-1: #5C255C;
$violet-2: #752F75;
$violet-3: #8F398F;
$violet-4: #A854A8;
$violet-5: #C274C2;

$indigo-1: #5642A6;
$indigo-2: #634DBF;
$indigo-3: #7157D9;
$indigo-4: #9179F2;
$indigo-5: #AD99FF;

$cobalt-1: #1F4B99;
$cobalt-2: #2458B3;
$cobalt-3: #2965CC;
$cobalt-4: #4580E6;
$cobalt-5: #669EFF;

$turquoise-1: #008075;
$turquoise-2: #00998C;
$turquoise-3: #00B3A4;
$turquoise-4: #14CCBD;
$turquoise-5: #2EE6D6;

$forest-1: #1D7324;
$forest-2: #238C2C;
$forest-3: #29A634;
$forest-4: #43BF4D;
$forest-5: #62D96B;

$lime-1: #728C23;
$lime-2: #87A629;
$lime-3: #9BBF30;
$lime-4: #B6D94C;
$lime-5: #D1F26D;

$gold-1: #A67908;
$gold-2: #BF8C0A;
$gold-3: #D99E0B;
$gold-4: #F2B824;
$gold-5: #FFC940;

$sepia-1: #63411E;
$sepia-2: #7D5125;
$sepia-3: #96622D;
$sepia-4: #B07B46;
$sepia-5: #C99765;

:root {
    /* Gray Scale */
    --black: #{$black};
    --white: #{$white};
    
    --dark-gray-1: #{$dark-gray-1};
    --dark-gray-2: #{$dark-gray-2};
    --dark-gray-3: #{$dark-gray-3};
    --dark-gray-4: #{$dark-gray-4};
    --dark-gray-5: #{$dark-gray-5};
    
    --gray-1: #{$gray-1};
    --gray-2: #{$gray-2};
    --gray-3: #{$gray-3};
    --gray-4: #{$gray-4};
    --gray-5: #{$gray-5};
    
    --light-gray-1: #{$light-gray-1};
    --light-gray-2: #{$light-gray-2};
    --light-gray-3: #{$light-gray-3};
    --light-gray-4: #{$light-gray-4};
    --light-gray-5: #{$light-gray-5};
    
    /* Core colors */

    --blue-1: #{$blue-1};
    --blue-2: #{$blue-2};
    --blue-3: #{$blue-3};
    --blue-4: #{$blue-4};
    --blue-5: #{$blue-5};
    
    --green-1: #{$green-1};
    --green-2: #{$green-2};
    --green-3: #{$green-3};
    --green-4: #{$green-4};
    --green-5: #{$green-5};
    
    --orange-1: #{$orange-1};
    --orange-2: #{$orange-2};
    --orange-3: #{$orange-3};
    --orange-4: #{$orange-4};
    --orange-5: #{$orange-5};
    
    --red-1: #{$red-1};
    --red-2: #{$red-2};
    --red-3: #{$red-3};
    --red-4: #{$red-4};
    --red-5: #{$red-5};
    
    /* Extended colors */

    $vermulion-1: #{$vermulion-1};
    $vermulion-2: #{$vermulion-2};
    $vermulion-3: #{$vermulion-3};
    $vermulion-4: #{$vermulion-4};
    $vermulion-5: #{$vermulion-5};
    
    $rose-1: #{$rose-1};
    $rose-2: #{$rose-2};
    $rose-3: #{$rose-3};
    $rose-4: #{$rose-4};
    $rose-5: #{$rose-5};
    
    $violet-1: #{$violet-1};
    $violet-2: #{$violet-2};
    $violet-3: #{$violet-3};
    $violet-4: #{$violet-4};
    $violet-5: #{$violet-5};
    
    $indigo-1: #{$indigo-1};
    $indigo-2: #{$indigo-2};
    $indigo-3: #{$indigo-3};
    $indigo-4: #{$indigo-4};
    $indigo-5: #{$indigo-5};
    
    $cobalt-1: #{$cobalt-1};
    $cobalt-2: #{$cobalt-2};
    $cobalt-3: #{$cobalt-3};
    $cobalt-4: #{$cobalt-4};
    $cobalt-5: #{$cobalt-5};
    
    $turquoise-1: #{$turquoise-1};
    $turquoise-2: #{$turquoise-2};
    $turquoise-3: #{$turquoise-3};
    $turquoise-4: #{$turquoise-4};
    $turquoise-5: #{$turquoise-5};
    
    $forest-1: #{$forest-1};
    $forest-2: #{$forest-2};
    $forest-3: #{$forest-3};
    $forest-4: #{$forest-4};
    $forest-5: #{$forest-5};
    
    $lime-1: #{$lime-1};
    $lime-2: #{$lime-2};
    $lime-3: #{$lime-3};
    $lime-4: #{$lime-4};
    $lime-5: #{$lime-5};
    
    $gold-1: #{$gold-1};
    $gold-2: #{$gold-2};
    $gold-3: #{$gold-3};
    $gold-4: #{$gold-4};
    $gold-5: #{$gold-5};
    
    $sepia-1: #{$sepia-1};
    $sepia-2: #{$sepia-2};
    $sepia-3: #{$sepia-3};
    $sepia-4: #{$sepia-4};
    $sepia-5: #{$sepia-5};
}