@import "./Colors.scss";

/* Light theme */
:root {
    --brand-color: #{$sepia-3};
    --shadow-color: #{$black};
    --default-background-color: #{$white};
    --default-text-color: #{$dark-gray-3};
    --header-background-color: #{$light-gray-4};
    --sidebar-background-color: #{$light-gray-5};
}

/* Dark theme */
html[data-theme="dark"] {
    --brand-color: #{$sepia-1};
    --shadow-color: #{$black};
    --default-background-color: #{$dark-gray-3};
    --default-text-color: #{$light-gray-5};
    --header-background-color: #{$dark-gray-1};
    --sidebar-background-color: #{$dark-gray-2};
}